.joke-card {
  background-color: white;
  border-radius: 5px;
  margin: 30px;
  padding: 20px;
}

.joke-card__tell-me--btn {
  border-radius: 5px;
  border: none;
  background-color: #ecbc5c;
  padding: 5px;

  &:hover {
    cursor: pointer;
    background-color: #c5973c;
  }
}

.joke-card__remove--btn {
  margin-left: 5px;
  color: #d0d0d0;
  border-radius: 5px;
  border: none;
  background-color: #ff0000;
  padding: 5px;

  &:hover {
    cursor: pointer;
    background-color: #fcb5bf;
  }
}
