<div class="jokes-input">
  <form [formGroup]="jokesForm" class="jokes-input__form">
    <p>Question</p>
    <input
      formControlName="question"
      class="jokes-input__form--input"
      type="text"
      placeholder="Enter the question..." />

    <p>Answer</p>
    <input
      formControlName="answer"
      class="jokes-input__form--input"
      type="text"
      placeholder="Enter the punchline..." />
    <span>
      {{ errorMessage }}
    </span>
    <button class="jokes-input__button" (click)="addJoke()">Create</button>
  </form>
</div>
