.app {
  background-color: #060028;
  padding: 300px;
  background-image: url("../../src/assets/images/walkingcat.gif");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: top;
}
